@import "mixins";

/* ========== HEADER =========== */
.mobile{
    display:none;
}
#menuTopo{
    background-color: $azulEscuro;
    height: 80px;
    width: 100%;
    clear: both;
    padding-top: 0;
   .logoTopo{
        padding-top: 2px;
    } 
    .form-group {
        input[type=text]{ 
            background: #597a96 !important;
            border-radius:4px;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            border:0px solid #597a96;
            color:$branco !important;
            float:left;
            height: 25px;   
      }
      
      ::-webkit-input-placeholder {
        color:$branco;
        font-family: $fontepri;
        font-size: 10px;
        font-weight: $bold;
        text-transform: uppercase;
        padding-left: 10px;
     }
     
     :-moz-placeholder {
         color:$branco;
         font-family: $fontepri;
        font-size: 10px;
        font-weight: $bold;
        text-transform: uppercase;
        padding-left: 10px;
     }
     
     ::-moz-placeholder {
        color:$branco;
        font-family: $fontepri;
        font-size: 10px;
        font-weight: $bold;
        text-transform: uppercase;
        padding-left: 10px;
     }
     
     :-ms-input-placeholder {  
        color:$branco;
        font-family: $fontepri;
        font-size: 10px;
        font-weight: $bold;
        text-transform: uppercase;
        padding-left: 10px;
     }
     a.hover{
        background-color: transparent !important;
        font-family: $fontepri;
        color: $azulClaro !important;
        text-decoration: underline;
    }
 
  }
  .btnlogin{
    width: 80px !important;
    background: $azulClaro;
    color: $branco;
    border:1px solid $azulClaro;
    float: right;
    height: 25px;
    text-transform: uppercase;
    font-size: 10px;
} 
  .bloco{		
   -webkit-box-shadow: 0px 9px 5px rgba(50, 50, 50, 0.77);
   -moz-box-shadow:    0px 9px 5px rgba(50, 50, 50, 0.77);
   box-shadow:         0px 9px 5px rgba(50, 50, 50, 0.77);
}

    
.navbar {
    background: none;
    border-color: $azulEscuro;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    a{
        text-transform: uppercase;
        color: $branco !important;
        font-size: 12px !important;
        font-weight: $bold;
    
    }
    a:hover{
        background-color: transparent !important;
    font-family: $fontepri;
    color: $azulClaro !important;
    text-decoration: underline;
    }
    
    .active {
        
        a{
        background-color: transparent !important;
        font-family: $fontepri;
        color: $azulClaro !important;
        text-decoration: underline;
        }          
            }
}
 
}
/* ========== APRESENTACAO =========== */
#apresenta{
    clear: both;
    position: relative;
    padding-top: 80px;
}
.carousel{
    position: relative;
    background: url(../slide/01.jpg);
    background-size: cover;
    height: 565px;
}
.slides .carousel.slide{
    height: 565px;
    
	
}

.slides .item { 
	height: 565px;
}

.imgslider {
	height: 565px;
	background: url(../slide/01.jpg);
	background-size: cover;
}

.imgsegundo{
	height: 640px;
	background: url(../slide/01.jpg);
	background-size: cover;
}

.imgterceiro{
	height: 640px;
	background: url(../slide/01.jpg);
	background-size: cover;

}
.bgslide{
    
        background-color: #013A6B;
        background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
        min-width: 500px;
        min-height: 440px;

      }

.caixatexto{
    float: right;
    margin-right: 190px;
    margin-top: 100px;
    width: 400px;
    height: 345px;
    background-color: $azulClaro;
    background-image: -webkit-linear-gradient(-110deg, $azulClaro 70%, #073a6d 30%);
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 60px;
    h1{
       font-family: $fontesec;
       text-transform: uppercase;
       font-weight: $bolder;
       color:$branco;
       font-size: 36px;
    }
    p{
        font-family: $fontepri;
        text-transform: uppercase;
        font-weight:$bolder;
        color:#073a6d;
        font-size: 22px;
        padding-bottom: 30px;  
    }
    .btn-default {
        background-color: #275e8f;
        border-color: #275e8f;
        color: $branco;
        text-transform: uppercase;
        font-weight: $bold;
        font-size: 22px;
    }
    }
    .btnslide{
     text-align: center;
     display: block
    }

    .carousel-indicators li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 1px;
        text-indent: -999px;
        border: none;
        /* border-radius: 10px; */
        cursor: pointer;
        background-color: #000 \9;
        background-color: #758c9f;
    }
    .carousel-indicators .active {
        margin: 0;
        width: 15px;
        height: 15px;
        background-color: #073a6d;
    }
/* ========== AENUVE =========== */
 #aenuve{
     background: #f6f6f6;
     height: 400px;
     width: 100%;
	          
     
 }
.box_aenuve{
    color: #073a6d;
    padding-top: 80px;
    width: 70%;
    
    
    p{
        padding-top: 20px;
        font-size: 14px;
        font-weight: $bold;
        line-height: 32px;
    }

    img{
    width: 60%;
}
} 
.box_aenuve_img{
    margin-left: 0;
    margin-right:0;
   padding-top: 20px;
    img{
        width: 80%;
    }
} 
/* ========== VIDEO =========== */
.fullHD{
    width: 100%;
    height:auto;
}
#video{
	padding: 0px 250px; 
	color: rgb(255, 255, 255); 
    position: relative;
    height: 70vh;

}
#video .container{position:relative;z-index:2;}
#video .video-overlay{
	background:url(../images/gridtile.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}
.videopos{
    position: absolute; 
    z-index: -1; 
    top: -250px; 
    left: 0px;
    bottom: 0px; 
    right: 0px; 
    overflow: hidden; 
    background-size: cover; 
    background-position: 50% 50%; 
    background-repeat: no-repeat;
} 
.videocontrol{
    visibility: visible;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/* ========== SOBRE SERVICOS =========== */
  
#sobrehome{
    margin-top: 0px;
    display: block;
    width:100% !important;
    height: 565px;
	background: url(../images/fundo_sobre.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    clear: both;

    img{
       padding-top: 5%; 
    }
    
}
/* ========== SOBRE SERVICOS =========== */
#consultoria{
    width: 100% !important;
    background: #ff8f15 url(../img/bg_contato.png) repeat-x;
    height: 500px;
    h2{
        text-transform: uppercase;
        color:$branco;
        font-size: 22px;
        font-family: $fontesec;
        font-weight: $regular;
        line-height: 20px;
        
    }
    .box_contxt{
        padding-top: 90px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .box_form{
        padding-top: 90px;
        padding-left: 5%;
        
        
            }
            .form-group {
                    input[type=text]{ 
                    background: #c46d0b !important;
                    border-radius:2px;
                    -moz-border-radius:2px;
                    -webkit-border-radius: 2px;
                    border:0px solid #c46d0b;
                    color:$branco !important;
                    height: 45px;
                    margin-right: 5px; 
                    width: 40%;
                    
              }
              input[type=email]{ 
                background: #c46d0b !important;
                border-radius:2px;
                -moz-border-radius:2px;
                -webkit-border-radius: 2px;
                border:0px solid #c46d0b;
                color:$branco !important;
                height: 45px; 
                width: 82%;
              } 
            }
            .btncons{
                background-color: #014064 !important;
                border-color:#014064;
                border-radius:2px;
                -moz-border-radius:2px;
                -webkit-border-radius: 2px;
                width: 150px;
                color: $branco;
                text-transform: uppercase;
                font-weight: $bold;
            }
            ::-webkit-input-placeholder {
                color:$branco;
                font-family: $fontepri;
                text-transform: uppercase;
                padding-left: 10px;
                font-size: 12px;
             }
             
             :-moz-placeholder {
                 color:$branco;
                 font-family: $fontepri;
                text-transform: uppercase;
                padding-left: 10px;
                font-size: 12px;
             }
             
             ::-moz-placeholder {
                color:$branco;
                font-family: $fontepri;
                text-transform: uppercase;
                padding-left: 10px;
                font-size: 12px;
             }
             
             :-ms-input-placeholder {  
                color:$branco;
                font-family: $fontepri;
                text-transform: uppercase;
                padding-left: 10px;
                font-size: 12px;
             }  
                      
             .regular-checkbox {
                -webkit-appearance: none;
                background-color: #c46d0b;
                border: 1px solid #c46d0b;
                box-shadow: 0 1px 2px rgba(196,109,11,0.05), inset 0px -15px 10px -12px rgba(196,109,11,0.05);
                padding: 9px;
                border-radius: 3px;
                display: inline-block;
                position: relative;
                
            }
            .regular-checkbox:active, .regular-checkbox:checked:active {
                box-shadow: 0 1px 2px rgba(196,109,11,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
            }
            
            .regular-checkbox:checked {
                background-color: #c46d0b;
                border: 1px solid #c46d0b;
                box-shadow: 0 1px 2px rgba(196,109,11,0.05), inset 0px -15px 10px -12px rgba(196,109,11,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                color: $branco;
            }
            
            .regular-checkbox:checked:after {
                content: '\2714';
                font-size: 14px;
                position: absolute;
                top: 0px;
                left: 3px;
                color: $branco;
            } 
            .labelx{
                font-family: $fontepri;   
                color: $branco;
                font-weight: $bold !important;
                position: absolute;
                padding-left: 8px;
                padding-top: 5px;
                }                     
            
}
.amarelo{
    background-color: #fff000;
}
.preto {
    background-color: #000000;
}
.vermelho {
    background-color: red;
}
